// Color variables
$dark-grey: #2D2D2D;
$light-grey: #7F7F7F;
$off-white: #F9F9F9;
$seafoam-green: #8ED1B7;
$light-mint: #B3FFE1;

// Testing colors
$mist: #90AFC5;
$stone: #336B87;
$shadow: #2A3132;

// Custom fonts
@font-face {
  font-family: "DinOT";
  src: url("../fonts/DINOT.otf");
  font-weight: 400;
}

@font-face {
  font-family: "DinOT";
  src: url("../fonts/DINOT-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "DinOT";
  src: url("../fonts/DINOT-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "DinOT";
  src: url("../fonts/DINOT-Light.otf");
  font-weight: 300;
}

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "DinOT";
  color: $dark-grey;
}

body {
  background-color: $off-white;
}
